<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Colors</title>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }

        table {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        th {
            text-align: center;
        }

        tr {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>World's Most Popular Color</h1>
    {{dfhtml | safe}}

    <p><a href="/submit">Submit</a> a color from our list
        <br>
        <a href="/coolcharts">I wanna see cool charts</a>
    </p>
</body>

</html>